<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
</head>
<body>

<h2>All Courses</h2>

<ul>
    {% for course in courses %}
        <li>
            <b>{{ course.title }}</b><br>
            {{ course.description }}<br>
            <a href="/enroll/{{ course.id }}/">Enroll</a>
        </li>
    {% empty %}
        <li>No courses available</li>
        <li><a href="/admin/">Add courses from admin</a></li>
    {% endfor %}
</ul>

<hr>

<a href="/my-courses/">My Courses</a> |
<a href="/signup/">Signup</a> |
<a href="/update-username/">Change Username</a>

</body>
</html>
